.container {
    display: flex;
    height: 70vh;
    width: 100vw;
    background-color: aqua;

}

.item-1 {
    background-color: green;
    flex-basis: 200px;


}

.item-2 {
    background-color: red;
    flex-basis: 200px;
}

.item-3 {
    background-color: yellow;
    flex-basis: 200px;
}

.item-4 {background-color: orange;
    flex-basis: 200px;
}

p {
    text-align: center;
}

.container > * {
flex-shrink: 1;
margin: 0 40px;
}


